---
layout: null
---

<script>window.location.href='{{ "/home.html" | relative_url }}'</script><!--


{
    "pages": [{% for post in paginator.posts %}
      {% if forloop.first != true %},{% endif %}
      {
  {% if post.date %}      "updated": "{{ post.date | date: "%Y-%m-%d %H:%M:%S" }}",{% endif %}
  {% if post.description %}      "description": "{{ post.description | url_encode }}",{% endif %}
        "content": "{{ post.content | url_encode }}",
        "author": "{% if post.author %}{{ post.author }}{% else %}Notes{% endif %}",
        "title": "{{ post.title | url_encode }}",
        "url": "{{ post.url | relative_url }}"
      }{% endfor %}
    ]
    {% if paginator.next_page %}
    ,"next": "{{ paginator.next_page_path | relative_url }}"
    {% endif %}
    {% if paginator.previous_page %}
    ,"prev": "{{ paginator.previous_page_path | relative_url }}"
    {% endif %}
  }